@body-bg: #FFFFFA;
@subtle-color: #F1CBBE;
@link-color: #F94489;
@link-hover-color: #D41405;
@text-color: #000A00;
@light-gray: #ccc;
@footer-bg: #f5f5f5;
@navbar-bg: transparent;

a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  &, &:link {
    color: @link-color;
  }

  &:visited, &:active {
    color: darken(@link-color, 10%);
  }

  &:focus, &:hover {
    color: @link-hover-color;
    text-decoration: none;
  }
}

blockquote {
  border-left-color: @subtle-color;
}

body {
  background: @body-bg url('http://static.tumblr.com/w10eljr/3pon5qwok/fresh_snow.png');
  color: @text-color;
}

.dropdown-menu {
  .tc-tag {
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
  }
}

#footer {
  margin: 80px 0 40px 0;
  font-size: 14px;
}

#header {
  text-align: center;
  margin-bottom: 80px;

  #blog-description {
    font-size: 20px;
    color: #999;
    font-weight: 300;
  }

  #blog-title {
    #logo + span {
      display: block;
      margin-top: 24px;
    }
  }
}

#main-container {
  padding-top: 15px;
}

.navbar {
  margin-bottom: 0;
  border-bottom: none;

  &, .dropdown-menu {
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  .navbar-brand {
    padding: 11px 15px 0 15px;
  }

  &.navbar-default {
    background-color: @navbar-bg;
  }

  .navbar-nav {
    &.navbar-right {
      margin-right: -15px;
    }
  }
}

.no-search-results {
  text-align: center;
  font-size: 30px;
}

.notes-wrapper {
  margin: 40px auto;
  max-width: 500px;
  position: relative;

  ol.notes {
    list-style: none;
    padding-left: 0;

    img.avatar {
      border-radius: 50%;
      margin-right: 5px;
    }

    li.note {
      & + li.note {
        margin-top: 10px;
      }
    }
  }
}

.page-header {
  border-bottom: none;

  h2 {
    text-transform: uppercase;
    color: #999;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 40px;
  }
}

section.post {
  &.photo, &.photoset, &.video {
    .post-body, .post-footer {
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }

  h2.post-title {
    font-size: 26px;
    font-weight: 400;
  }

  .post-body {
    .photo {
      margin-bottom: 20px;
    }
  }

  .post-footer {
    font-size: 12px;

    a {
      &, &:link, &:active, &:visited {
        color: #888;
        letter-spacing: 0.1em;
        font-weight: 300;
      }

      &:hover, &:focus {
        color: @link-hover-color;
      }
    }
  }

  & + section.post {
    margin-top: 80px;
  }
}

/*************************************************************************/
/* Responsive text alignment stuff ***************************************/
/*************************************************************************/

/* Defaults */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg { text-align: inherit; }

/* Define xs styles after defaults so they take precedence */
.text-center-xs { text-align: center; }
.text-right-xs { text-align: right; }

/* Small grid */
@media (min-width: 768px) {
  .text-center-sm, .text-center-xs { text-align: center; }
  .text-right-sm, .text-right-xs { text-align: right; }
}

/* Medium grid */
@media (min-width: 992px) {
  .text-center-md, .text-center-sm, .text-center-xs { text-align: center; }
  .text-right-md, .text-right-sm, .text-right-xs { text-align: right; }
}

/* Large grid */
@media (min-width: 1200px) {
  .text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {
    text-align: center;
  }
  .text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {
    text-align: right;
  }
}
